[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/vim-rebar"]
	path = bundle/vim-rebar
	url = http://github.com/mbbx6spp/vim-rebar
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = http://github.com/tsaleh/vim-align
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim
    ignore = dirty
[submodule "bundle/a"]
	path = bundle/a
	url = http://github.com/vim-scripts/a.vim
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim
[submodule "bundle/bufonly"]
	path = bundle/bufonly
	url = http://github.com/duff/vim-bufonly
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic
    ignore = dirty
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/cscope-macros"]
	path = bundle/cscope-macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
